.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.hero {
    background-image: url("../images/stock.png");
    background-color: #cccccc;
}

.columns{
    margin: 0px;
    height: 100%;
}

#logo{
	padding-right: 5rem;
}
