#newsColumn {
    overflow: auto;
    max-height: 100vh;
	background-color: white;
}

#newsHeader {
    padding-left: 1rem;
}

#buttonTitle {
    text-align: center;
}

.card {
    padding:0.5rem;
}

#stockChart{
	margin-bottom: 4rem;
}

#timeButtons{
	justify-content: center;
}