doctype html
html
	head
		title= title
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css")
		link(ref="stylesheet", href="public/style/header.css")
	body
		nav(class="navbar" role="navigation" aria-label="main navigation")
			div(class="navbar-brand")
				a(class="navbar-item" id="logo" href="/")
					img(src="images/logo.png")
				p(class="navbar-item" href="/") Placeholder1
				p(class="navbar-item" href="/") Placeholder2
				p(class="navbar-item" href="/") Placeholder3