doctype html
html
	head
		title= title
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css")
		link(ref="stylesheet", href="public/style/header.css")
		script(src='/../scripts/header.js' type='text/javascript')
		block scripts
	body
		nav(class="navbar" role="navigation" aria-label="main navigation")
			div(class="navbar-brand")
				a(class="navbar-item" id="logo" href="/")
					img(src="images/logo.png")
				p(class="navbar-item" href="/")
					a= stock1
				p(class="navbar-item" href="/")
					a= stock2
				p(class="navbar-item" href="/") 
					a= stock3
			div(class="navbar-end")
				a(class="control has-icon navbar-item" href="/")
					i(class="fa fa-sign-out-alt fa-2x")

		block content