extends header.pug

block scripts
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    script(src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript')
    script(defer='' src='https://use.fontawesome.com/releases/v5.3.1/js/all.js' type='text/javascript')
    script(src='/../scripts/searchPage.js' type='text/javascript')
    link(rel='stylesheet' href='/style/searchPage.css')
    link(ref="stylesheet", href="public/style/header.css")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
	
block content
    div(id="searchContent" class="topPadding")
        label(class="label") Search For Stocks
		
        // Search bar
        div(class="field has-addons")
            div(class="control is-expanded")
                input(id="searchBar" class="input" type="text" placeholder="ABC")
            div(class="control")
                a(class="button is-info" id="searchButton") Search
		
    // Search Results	
    div(id="resultContent")
        table(class="table is-fullwidth is-hoverable is-scrollable" id="searchResults")
	
    div(id="submitButton")
        // Submit button
        button(id="updateStock" action="/updateStock" class= "button is-info") Submit