doctype html
head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	link(rel='icon' href='../public/images/icon.png' type='image/x-icon')
	title Sign Up
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css')
	meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
	link(rel='stylesheet' href='style/main.css')
body
	section(class="hero is-fullheight is-medium is-primary")
		div(class="hero-body")
			div(class="container")
				div(class="columns is-centered")
					article(class="card is-rounded")
						div(class="card-content")
							h1(class="title")
								img(src="images/logo.png" class="logo")
							
							form(action="/signupProcess" method="post")
								a= systemMessage
									
								p(class="control has-icon")
									i(class="fa fa-user")
									input(class="input" type="text" name="username" placeholder="Username")
									
								p(class="control has-icon")
									i(class="fa fa-lock")
									input(class="input" type="password" name="password" placeholder="Password")
								
								p(class="has-text-centered")
									a(href="/signup") Already have an account? Log In here!
								
								p(class="control")
									button(class="button is-primary is-medium is-fullwidth")
										i(class="fa fa-sign-in")
										a Sign Up